 
 /* Homepage */
 
 #mainBody{
    background: rgb(161,201,255);
    background: radial-gradient(circle, rgba(161,201,255,0.7925925925925926) 0%, rgba(150,255,203,0.8296296296296296) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    font-size: xx-large
}

.subtitle{
    text-align: center;
    font-size: medium;
}

.menuBtnDiv{

    text-align: center;
    padding: 200px;
}

.mainBtn{
    border-style:dotted;
    border-color: white;
    border-radius: 200px;
    padding: 20px;
    width: 300px;
    height: 300px;
    font-size: large
}

#tempBtn{
    margin-right: 100px;
    cursor: pointer;
    background-color: lightpink;
}

#lockBtn{  
    margin-right: 100px;
    cursor: pointer;
    background-color: rgb(157, 235, 170);
}

#lightBtn{
    cursor: pointer;
    background-color: rgb(255, 229, 144);
}

.btnImg{
    height: 100px;
    width: 125px;
    border-radius: 200px;
    opacity: .90;
}

.buffer{
 padding-top: 110px
}

.homepageBtn{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#homeReviewDiv{
    text-align: center;
}

#reviewBtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 100px;
    border-color: cornflowerblue;
    box-shadow: 5px 3px 15px black;
    background-color:cornflowerblue;
    cursor: pointer;
}

/* Temperature Page */

#tempHeader{
    padding-top: 300px
}


#tempBody{
    color:black;
    background: rgb(255,76,76);
    background: radial-gradient(circle, rgba(255,76,76,1) 0%, rgba(232,185,125,1) 55%, rgba(86,163,231,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tempDiv{
    padding-top: 100px;
    padding-bottom: 300px;
    text-align: center;
    font-size: x-large;
}

#tempInput{
    height: 20px;
    width: 60px;
    color: black;
    border-color: grey;
    border-radius: 30px;
    opacity: .8;
    cursor: pointer
}

.tempBuffer{
    padding: 50px;
    
}


/* Lock Page */

#lockBody{  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.7399334733893557) 0%, rgba(253,29,29,0.6502976190476191) 50%, rgba(252,176,69,0.6138830532212884) 100%);
}

#lockBodyDiv{
    text-align: center;
    padding-bottom: 460px;
}

#lockHeader{
    padding-top: 200px;
    padding-bottom: 100px;
}

.lockBtn{ 
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

.lockBtn::after{
    content: "";
    background-color: #95d8ff;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    border-radius: 100px;
    
}

.lockBtn:hover::after {
    top: 0px;
    left: 0px;
  }


#lockedBtn{
    margin-right: 50px;
}

.lockBuffer{
    padding-top: 200px
}

/* Lights Page */

#lightsHomepageLink{
    color: rgb(172, 170, 170)
}

#lightsHeader{
    padding-top: 200px;
}
#lightsBody{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

#lightsDiv{
    padding-top: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lightsBtn{
    height: 100px;
    width: 250px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#turnOnHouse:hover{
    background-color: rgb(247, 247, 141);
    color: rgb(132, 134, 0);
    box-shadow: 10px 10px 20px rgb(247, 247, 141);
}

#turnOffHouse:hover{
    background-color: black;
    color: rgb(97, 97, 97);
    box-shadow: 10px 10px 20px black;
}

#turnOnYard:hover{
    background-color: rgb(247, 247, 141);
    color: rgb(132, 134, 0);
    box-shadow: 10px 10px 20px rgb(247, 247, 141);
}

#turnOffYard:hover{
    background-color: black;
    color: rgb(97, 97, 97);
    box-shadow: 10px 10px 20px black;
}

/* Review Page */

#reviewBody{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


#reviewDiv{
    padding-top: 300px;
    text-align: center;
}

#reviewName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 20px;
}

#reviewContent{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    resize: none;
   
}

#reviewFormBtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border-color: white;
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: 5px 2px 10px white
}

#reviewBuffer{
    padding: 250px
}

