 #mainBody{
    background: rgb(161,201,255);
    background: radial-gradient(circle, rgba(161,201,255,0.7925925925925926) 0%, rgba(150,255,203,0.8296296296296296) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    font-size: xx-large
}

.subtitle{
    text-align: center;
    font-size: medium;
}


.menuBtnDiv{

    text-align: center;
    padding: 200px;
    
}

.mainBtn{
    border-style:dotted;
    border-color: white;
    border-radius: 200px;
    padding: 20px;
    width: 300px;
    height: 300px;
    font-size: large
}

#tempBtn{
    
    margin-right: 100px;
    cursor: pointer;
    background-color: lightpink;
    
}

#lockBtn{
   
    margin-right: 100px;
    cursor: pointer;
    background-color: rgb(157, 235, 170);
    
}

#lightBtn{
  
    cursor: pointer;
    background-color: rgb(255, 229, 144);
    
}

.btnImg{
    height: 100px;
    width: 125px;
    border-radius: 200px;
    opacity: .90;
}

.buffer{
 padding: 50px
}

.copyright{
    color: white;
    font-size: small;
}

.homepageBtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tempHeader{
    padding-top: 300px
}

#tempBody{
    color:black;
    background: rgb(255,76,76);
    background: radial-gradient(circle, rgba(255,76,76,1) 0%, rgba(232,185,125,1) 55%, rgba(86,163,231,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tempDiv{
    padding-top: 100px;
    padding-bottom: 300px;
    text-align: center;
    font-size: x-large;
}

#tempInput{
    height: 20px;
    width: 60px;
    color: black;
    border-color: grey;
    border-radius: 30px;
    opacity: .8;
    cursor: pointer
}

.tempBuffer{
    padding: 50px;
    
}